.container{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px;
    width: 50%;
    border: 1px solid black;
}


#titulo{
    justify-content: center;
    text-align: center;
}

#titulo h1{
    color: rgb(240, 47, 47);
}